/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 2:33:30 PM
    Author     : Yi
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#navbar {
    display: inline-block;
    height: inherit;
    overflow:hidden;
    text-align: center;
}

#top_container {
    width: 99%;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#banner {
    display: inline-block;
    float: left;
    height: inherit;
    padding-left: 50px;
    padding-top: 20px;
}

#wrapper {
    min-height: 100%;
    position: absolute;
}

#content {
    width: 80%;
    padding: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    margin-bottom: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

#content .left {
    float: left;
}

#content .right {
    float: right;
}

#content img {
    margin: 20px;
}

#banner h1 {
    padding-top: 10px;
    padding-bottom: 50px;
}

.component.paragraph {
    margin: 20px;
    margin-right: 25px;
}

#content h3.slideshow.title {
    text-align: center;
    margin: 0px;
}

.slideshow.wrapper {
    width: 100%;
    text-align: center;
}

.slideshow.image {
    display: inline-block;
    height: 400px;
}

#content h4.slideshow.caption {
    text-align: center;
    margin: 5px;
}

.slideshow.buttons {
    text-align: center;
}

#content img.prev {
    vertical-align: top;
    margin: 0px;
}

#content img.next {
    vertical-align: top;
    margin: 0px;
}

.toggle {
    display: inline-block;
}

video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

#navbar a {
    padding-left: 5px;
    padding-right: 5px;
    height: 150px;
    line-height: 150px;
    white-space: nowrap;
}