/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 2:33:48 PM
    Author     : Yi
*/
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

#top_container.colors_fonts {
    background-color: rgb(255, 255, 255);
}

#navbar.colors_fonts {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2pt;
}

#banner.colors_fonts {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#content.colors_fonts {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2pt;
}

#footer.colors_fonts {
    font-family: 'Yanone Kaffeesatz', sans-serif;    
}

.component.header {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18pt;
    color: rgb(0, 102, 255)
}

.component.paragraph {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 11pt;
    color: rgb(0, 0, 0);
}

.component.list {
    list-style-type: square;
    color: rgb(0, 0, 0);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 11pt;
}

.component a {
    color: rgb(0, 153, 51);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 11pt;
    padding-left: 0px;
    padding-right: 0px;
}

#banner h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24pt;
}

a {
    color: rgb(0, 0, 0);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}
.pause {
    width: 4px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}

.slideshow.title.colors_fonts {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20pt;
    color: rgb(0, 102, 255)
}