/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 2:33:30 PM
    Author     : Yi
*/

html, body {
    width: 100%;
    overflow-x: hidden;
}

#navbar {
    position: absolute;
    top: 225px;
    width: 180px;
    margin-left: -90px;
    left: 50%;
    z-index: 20;
}

#basketball {
    position: absolute;
    width: 40px;
    top: 370px;
    margin-left: -20px;
    left: 50%;
    z-index: 25;
}

#top_container {
    position: relative;
    text-align: center;
    width: 100%;
}

#banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

#banner_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
}

#banner_strip {
    position: absolute;
    top: 10px;
    width: 99%;
    height: 80px;
    z-index: 0;
}

#wrapper {
    min-height: 100%;
    position: absolute;
}

#content {
    margin-top: 300px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
}

#content .left {
    float: left;
}

#content .right {
    float: right;
}

#content img {
    margin: 20px;
}

#banner h1 {
    padding-top: 10px;
    padding-bottom: 50px;
}

.component.paragraph {
    margin: 20px;
}

#content h3.slideshow.title {
    text-align: center;
    margin: 0px;
}

.slideshow.wrapper {
    width: 100%;
    text-align: center;
}

.slideshow.image {
    display: inline-block;
    height: 400px;
}

#content h4.slideshow.caption {
    text-align: center;
    margin: 5px;
}

.slideshow.buttons {
    text-align: center;
}

#content img.prev {
    vertical-align: top;
    margin: 0px;
}

#content img.next {
    vertical-align: top;
    margin: 0px;
}

.toggle {
    display: inline-block;
}

video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

#navbar a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}